// Dark titlebar theme
// Referenced Caret titlebar styling
// http://thomaswilburn.net/caret/
//
.titlebar {
  flex: 0 0 30px;
  z-index: 999;
}
.titlebar {
  -webkit-app-region: drag;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 10px;
  background: #252629;
}
.titlebar .icon {
  display: block;
  max-height:100%;
  max-width: 25px;
  -webkit-app-region: drag;
  padding-right:5px;
}
.titlebar .app-name {
  margin-right: 10px;
  padding-right: 10px;
  -webkit-app-region: drag;
  color: white;
}

.titlebar .window-controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-content: stretch;
  align-items: baseline;
  padding: 0 4px;
  -webkit-app-region: no-drag;
}

.titlebar .window-controls button {
  width: 40px;
  display: block;
  margin-left: 1px;
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #5F6368;
  color: white;
  transition: opacity .5s ease;
  opacity: 1;
  -webkit-app-region: no-drag;
  outline: none;
  border-width: 0px;
}

.titlebar .window-controls button:hover {
  opacity: .6;
  color: white;
  background: #5F6368;
  -webkit-app-region: no-drag;
}

.titlebar .window-controls button.close {
  background: #3b63ca;
  color: white;
  -webkit-app-region: no-drag;
}
